body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 400px;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    font-size: 24px;
}

.input-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
    font-weight: bold;
}

input, select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s;
}

input:focus, select:focus {
    border-color: #007BFF;
}

.result-box {
    margin-top: 20px;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
}

.saving-box {
    background-color: #e3f2fd; /* Azul claro */
    border: 1px solid #90caf9;
}

.economia-box {
    background-color: #e8f5e9; /* Verde claro */
    border: 1px solid #a5d6a7;
}

.result-box label {
    font-weight: bold;
    color: #333;
    display: block;
    margin-bottom: 5px;
}

.result-box span {
    display: block;
    font-size: 18px;
    color: #007BFF;
    margin-top: 5px;
}
